
td{
	height: 150px;
	width:150px;
	text-align: center;
	border: 5px solid black;
	font-size: 100px;
}
#sbox{
	margin-left:20%;
	 margin-right: 20%;
}
#jmar{
	margin-top: 0.75%;
	 margin-left:20%;
	 margin-right: 20%;
	 }
